:root {
    
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
/* background-color: #000; */
font-family: 'Poppins';
min-width: 100vw;
min-height: 100vh;
overflow-x: hidden;
 
}


header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px 10px;
    /* background: #000; */
}


nav{
    min-width: 100vw;
    height: 100%;
    margin : auto 60px;
    

}

svg{

    width: 20px;
    height: auto;

}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


nav li{

    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
}

a{
    text-decoration: none;
    color: white;
}

#first{
    color: #C4C4C4;
    font-size: 40px;
}

#second{

    color: black;
    font-size: 40px;
}


#home i{

    margin-right: 10px;
    vertical-align: middle;
}



#home{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(../assets/background.png);
    background-size: cover;
    background-position: center;

}

label{
    display: block;
    font-size: 3.6vw;
    color: white;
    
}

input, label{
    margin: 2.1875rem 0;
}

#site-search{

    width: 732px;
    height: 67px;
    border: 2px solid white;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    outline:none;
    padding: 20px;
}

#site-search::placeholder{

    color:white;
    font-size: 20px;
  
}

#search-button{
    width:237px;
    padding: 20px;
    border: 2px solid white;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    outline:none;
    font-size: 20px;
    vertical-align: middle;

}



.homeContainer{
    margin-top: 160px;

    min-width: 100vw;
    min-height: auto;
}

.search-container{

 margin-left: 20px;
}


#category{
    min-width: 100vw;
    min-height: 100vh;
    margin-bottom: 40px;
}

.top-category{
    display: flex;
    justify-content:center;
    align-items:center;
    background: #F8F8F8;
    height: 30vh;
}

.wrapper-topCat{
    width: 90%;
    height: 150px;
    background: #FFF;
    border: none;
    border-radius:10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    position: relative;
    overflow: hidden;
}



.wrapper-topCat .btn-scroll {
    width : 35px;
    height : 35px;
    background-color: rgb(255, 255, 255);
    color: rgb(82, 82, 82);
    box-shadow: 0 0 5px #999;
    padding: 5px 8px;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 50%;
    margin: 0 5px;
    z-index: 1;
    cursor: pointer;
}



.item-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    transition:  0.5s all ease-out;
}

.item{
    width: 200px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 15px;
    background-size: cover;
    
}

.item a{
    color: #000;
    font-size: 20px;
   
}

.category-container{

    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-category {  

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 50px 120px;
    grid-auto-flow: column dense;
    justify-content: start;
    align-content: space-between;
    justify-items: start;
    align-items: start;
    grid-template-areas:
      "viande american"
      "asiatique vegan"
      "africain latino";
      /* background: #000; */
  }
  
  .food-category {

    width: 350px;
    height: 250px;
    border: 2px solid #000;
    /* background-image: url(https://images.unsplash.com/photo-1569718212165-3a8278d5f624?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
  }

  .food-category img{

    
    width: 600px;
    height: 100%;
  }


  footer{
      background: #000;
      width: 100vw;
      height: 60vh;
      /* display: flex; */
  }

  #footH1{

    color: #fff;
  }

.footer-content{

    width: 100%;
    height: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}

.footer-content img{

    height: 250px;
    width:auto;
}


.footer-content  li {

    
    list-style-type: none;
    /* line-height: 50px; */
   
}

hr{
    border: none;
    border-top: 1px solid #fff;
    width: 80%;
    margin: auto;

}
