/* WHOLE PAGE BEHAVIOR */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root {
    --Black: hsl(0, 0%, 0%);
    --Yellow: hsl(51, 100%, 49%);
    --White: hsl(0, 0%, 100%);

    --font-family-m: 'Montserrat', sans-serif;
    --font-family-r: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--White);
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

nav i{
    margin-right: 10px;
    vertical-align: middle;
}

h2 {
    margin-left: 20px;
}

/* PARTIE 1 : HEADER */

/* NAV */

header{
    display: flex;
    margin: auto;
    padding: 20px 70px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul{
}

nav li{
    list-style-type: none;
}


/* Alligner le logo avec "Cantersteen" */
nav ul li:first-child {
    font-size: 32px;
    color: var(--White);
}

nav ul li:nth-child(2) {
    font-size: 40px;
    color: var(--Black);
    font-weight: bold;
    margin-left: -100px;
}

/* IL FAUT REPARER LE PANIER POUR AVOIR UNE POSITION FIXED

nav ul li:last-child{
    position: fixed;
} */



/* LANDING PAGE */

#home-responsive {
    display: none;
}

#home{
    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/background.png);
    background-size: cover;
    background-position: center;
}

.search-container {
    margin-left: 42px;
}

label{
    display: flex;
    font-size: 40px;
    color: white;
    margin-bottom: 42px;
    margin-top: 250px;
}

#site-search{
    width: 731px;
    height: 67px;
    border: 2px solid white;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    outline:none;
    font-size: 32px;
    padding-left: 20px
}

#site-search::placeholder{
    color:white;
    font-size: 32px;
}

#search-button{
    width:287px;
    height: 67px;
    border: 2px solid white;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    font-size: 32px;

}


/* Partie 2 : Catégories */

.top-title {
    margin-top: 30px;
}

#category{
    width: 100%;
    min-height: 100vh;
    margin-bottom: 40px;
}

.top-category{
    display: flex;
    justify-content:center;
    align-items: center;
}

.top-category h2 {
    
}

.wrapper-topCat{
    width: 95%;
    height: 200px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    position: relative;
}



.wrapper-topCat .btn-scroll {
    width : 35px;
    height : 35px;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin: 0px 10px;
    z-index: 1;
    cursor: pointer;
}



.item-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    transition:  0.5s all ease-out;
}

.item{
    width: 323px;
    height: 160px;
    border: 1px solid #000;
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 15px;
    background-image: url(https://images.unsplash.com/photo-1623689048105-a17b1e1936b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389&q=80);
    background-size: cover;
    
}

.item a{
    color: #000;
    font-size: 20px;
   
}


/* Partie 3 : Plats */

.meat-title {
    margin-bottom: 30px;
}


.category-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: auto;
}
.grid-category {  
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 15px;
  }
  
  .food-category {
    width: 700px;
    height: 350px;
    border: 2px solid #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    
    
  }

  .food-category img{
    width: 700px;
    height: 300px;
  }

  .name-overlay {
      font-size: 20px;
      margin-top: 311px;
      background-color: #FFF;
  }



  /* Partie 4 : Footer */


  footer {
      background: #000;
      width: 100%;
      height: 560px;
      color: var(--White);
      padding: 16px 35px 11px 35px;
  }

  footer h1{
      font-size: 40px;
      margin-bottom: 36px;
  }

  footer {
      font-size: 24px;
  }

  footer a {
      color: var(--White);

  }

  footer a:visited {
      color: var(--White) 
  }

.footer-content {
}

.footer-content  ul{
}

.footer-list {
    display: flex;
    flex-direction: row;
}

.footer-list li {
    list-style-type: none;
    line-height: 50px;
}

.firstul {
    margin-left: 50px;
}

.secondul {
    margin-left: 80px;
}

hr{
    border: none;
    margin-top: 42px;
    border-top: 1px solid white;
    margin-left: -8px;
    margin: 42px -8px 15px -8px;
}

.under-footer {
    font-size: 14px;
    height: 71px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.thirdul {
    list-style: none;
    margin-bottom: 16px;
    line-height: 23px;
}

.thirdul li {
    margin-right: 16px;
    list-style: none;
    display: inline;
}

.socials {
    margin-right: 80px
}

.socials img {
    margin-left: 30px;
    vertical-align: middle;

}

.dark-mode {
    background-color: black;
    color: white;
  }


/* RESPONSIVE (IPHONE 11 PRO / X) */

@media screen and (max-width: 375px) {

    body {
        background-color: var(--White);
        width: 100%;
    }
    
    h2 {
        margin-left: 0px;
    }
    
    /* PARTIE 4 : RESPONSIVE MOBILE HEADER */
    
    /* REPONSIVE NAV */

    #home {
        display: none;
    }

    #home-responsive {
        display: unset;
    }

    #home-responsive h1{
        font-size: 20px;
        text-align: center;
    }

    .localisation-responsive {
        display: flex;
        margin-left: 15px;
        
    }

    .search-responsive {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
    }
    
    #site-search-responsive{
        width: 291px;
        height: 22px;
        border: 2px solid black;
        outline:none;
        font-size: 12px;
        padding-left: 5px
    }
    
    #site-search-responsive::placeholder{
        color: black;
        font-size: 12px;
    }

    .search-responsive img {
        height: 20px;
        width: 20px;
        background-color: black;
    }
    
    
    /* Partie 5 : RESPONSIVE CATEGORIES */

    .top-title {
        margin-top: 15px;
        margin-left: 20px;
        font-size: 12px;
    }

    .meat-title {
        margin-left: 20px;
        font-size: 12px;
    }
    
    #category{
        width: 100%;
        margin-bottom: 200px;
    }
    
    .top-category{
        display: flex;
        justify-content:center;
        align-items: center;
        background: #F8F8F8;
    }
    
    .top-category h2 {
    }
    
    .wrapper-topCat{
        width: 95%;
        height: 150px;
        background: #FFF;
        border: none;
        border-radius:10px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
        position: relative;
        overflow: hidden;
    }
    
    
    
    .wrapper-topCat .btn-scroll {
        width : 35px;
        height : 35px;
        background-color: rgb(255, 255, 255);
        color: rgb(82, 82, 82);
        box-shadow: 0 0 5px #999;
        padding: 5px 8px;
        border: 1px solid rgb(82, 82, 82);
        border-radius: 50%;
        margin: 0 5px;
        z-index: 1;
        cursor: pointer;
    }
    
    
    
    .item-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        left: 0;
        transition:  0.5s all ease-out;
    }
    
    .item{
        width: 200px;
        height: 100px;
        border: 1px solid #000;
        display: flex;
        justify-content:center;
        align-items:center;
        margin: 15px;
        background-image: url(https://images.unsplash.com/photo-1623689048105-a17b1e1936b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389&q=80);
        background-size: cover;
        
    }
    
    .item a{
        color: #000;
        font-size: 20px;
       
    }
    
    
    /* Partie 6 : RESPONSIVE PLATES */
    
    
    .category-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin: auto;
    }
    .grid-category {  
        display: flex;
        flex-direction: column;
    }
    
      .food-category {
        width: 345px;
        height: 158px;
        border: 2px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .food-category h1 {
          z-index: 1;
      }
    
      .food-category img{ 
          z-index: 0;
      }
    
    
    
      /* Partie 7 : RESPONSIVE FOOTER */
    
    
      footer {
          background: #000;
          width: 100%;
          height: 100%;
          color: var(--White);
          padding: 15px 10px 9px 11px;
          margin: 0px;
          font-size: 10px;
      }
    
      footer h1{
          font-size: 20px;
          margin-bottom: 16px;
      }
    
      footer {
          

      }

      footer iframe {
          height: 150px;
          width: 130px;
      }
    
      footer a {
          color: var(--White);
    
      }
    
      footer a:visited {
          color: var(--White) 
      }
    
    .footer-content {
    }
    
    .footer-content  ul{
    }
    
    .footer-list ul {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
    }
    
    .footer-list li {
        list-style-type: none;
        line-height: 15px;
    }
    
    .firstul {
    }
    
    .secondul {
    }
    
    hr{
        border: none;
        border-top: 1px solid white;
        margin-top: 16px;
    }
    
    .under-footer {
        font-size: 7px;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 0px;
    }
    
    .thirdul {
        list-style: none;
        line-height: 10px;
    }
    
    .thirdul li {
        list-style: none;
        display: inline;
    }
    
    .socials {
        display: flex;
        flex-direction: row;
    }
    
    .socials img {
        vertical-align: middle;
        height: 9px;
        width: 9px;
    }
}


/* LOADER */

/* .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.letter {
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}

@keyframes flash {
    0% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }

    90% {
        color: #484848;
        text-shadow: none;
    }

    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
}

.letter:nth-child(1) {
    animation-delay: 0.1s;
}
.letter:nth-child(2) {
    animation-delay: 0.2s;
}
.letter:nth-child(3) {
    animation-delay: 0.3s;
}
.letter:nth-child(4) {
    animation-delay: 0.4s;
}
.letter:nth-child(5) {
    animation-delay: 0.5s;
}
.letter:nth-child(6) {
    animation-delay: 0.6s;
}
.letter:nth-child(7) {
    animation-delay: 0.7s;
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
} */
